* {
     margin: 0;
     padding: 0;


}

h1 {
     background-color: #081b31;
     color: white;
     height: 5rem;
     line-height: 5rem;
     text-align: center;
}

.choice {

     height: 170px;
     width: 170px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.choice:hover {
     background-color: #081b31;
     cursor: pointer;
}

img {
     height: 150px;
     width: 150px;
     object-fit: cover;
     border-radius: 50%;
}

.choices {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 3rem;
     margin-top: 5rem;
}

.board {


     justify-items: center;
}

.score-board {
     display: flex;
     justify-content: center;
     align-items: center;
     justify-items: center;
     gap: 5rem;
     margin-top: 3rem;
     font-size: 2rem;
}

#user-score,
#comp-score {
     font-size: 4rem;
     color: #081b31;
}

#msg {
     background-color: #081b31;
     color: #fff;
     margin-top: 2rem;
     font-size: 3rem;
     display: inline;
     padding: 1rem;
     border-radius: 1rem;
}

.msg-container {
     margin-top: 3rem;
}